html 
{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    background-color: navy;
}

body
{
    border-style: solid;
    background-color: white;
}

h2
{
    color: black;
    text-decoration: underline;
}

h3
{
    color: cyan;
    font-style: italic;
}

.footer
{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 150px;
    color: navy;
}

.header
{
    border-style: solid;
    color: blue;
    background-color: darkcyan;
    padding-bottom: 10px;
}

.sec1
{
    border-style: solid;
    align-items: center;
    background-color: white;
    color: blue;
    height: 400px;
    float: left;
    width: 38.93%;
    object-fit: fill;
}


.sec2
{
    border-style: solid;
    border-color: black;
    background-color: gray;
    color: white;
    height: 400px;
    float: right;
    width: 60%;
}

.sec3
{
    border-style: solid;
    border-color: blue;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}